/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили 
@import './utils/hidden';
@import './utils/reset';

@import './components/container';
@import './components/wrapper';
@import './layout/background';


@import './layout/header';
@import './layout/footer';
@import './layout/weather';