<footer>
    <!-- <div class="back container">
    <svg class="footer__svg footer__color--one">
    <use class="footer__svg--image" href="./images/sprite.svg#icon-puzzle"></use>
    </svg>
    <svg class="footer__svg footer__color--two">
    <use class="footer__svg--image" href="./images/sprite.svg#icon-puzzle"></use>
    </svg>
    <svg class="footer__svg footer__color--three">
    <use class="footer__svg--image" href="./images/sprite.svg#icon-puzzle"></use>
    </svg>
    <svg class="footer__svg footer__color--four">
    <use class="footer__svg--image" href="./images/sprite.svg#icon-puzzle"></use>
    </svg>
    </div> -->
</footer>