    <header id="header-en">
<div class=" header__container ">
    <div class="header__module">
        <a href=""><object id="sun-shine" type="image/svg+xml" data="./images/animated-icon/cloudy.svg"></object></a>
        <ul class="navigation__list">
            <li class="navigation__list-item">
                <svg class="favorites__icon">
                <use class="" href="./images/sprite.svg#star-empty"></use>
            </svg>
        </li>
            <li class="navigation__list-item">
                <svg class="settings__icon">
                <use class="" href="./images/sprite.svg#cog"></use>
            </svg>
        </li>
        </ul>
    </div>
    <div class="form__country-module">
        <form class="form__search" action="">
            <input class="form__search-input" type="text" name="country" id="search-input" placeholder="Search places">
            <button class="form__search-button " type="submit" disabled>Search</button>
            <svg class="circle">
            <use class="" href="./images/sprite.svg#circle"></use>
        </svg>
        <svg class="circle__small">
            <use class="" href="./images/sprite.svg#circle"></use>
        </svg>
        </form>
    </div>
    
</div>
    </header>


   