<header>
<div class="navigation__bar container">
        <svg class="logo__svg">
            <use class="logo__svg--image" href="./images/sprite.svg#icon-apachekafka"></use>
        </svg>
    <li class="header__logo--list"><a class="header__logo" href="">Nik<span class="header__logo--span">Gavriluk</span></a></li>
<ul class="flex-container">
    <li class="navigation__bar--list"><a class="navigation__bar--link" href="">Galery</a></li>
    <li class="navigation__bar--list"><a class="navigation__bar--link" href="">History</a></li>
    <li class="navigation__bar--list"><a class="navigation__bar--link" href="">Work</a></li>
    <li id="menu-line">----</li>
</ul>
<!-- <svg class="logo__svg">
    <use class="logo__svg--redhat" href="./images/sprite.svg#icon-apachekafka"></use>
</svg> -->
    <button class="button__nav" type="button"><svg class="button-svg">
        <use class="" href="./images/sprite.svg#icon-user"></use>
    </svg></button>
    <!-- <button class="button__nav" type="button">Log out</button> -->
</div>
</header>
   