    <header id="header-en">
        <div class="navigation__bar container">
            <svg class="logo__svg">
                <use class="logo__svg--image" href="./images/sprite.svg#icon-apachekafka"></use>
            </svg>
            <li class="header__logo--list"><a class="header__logo" href="">Nik<span
                        class="header__logo--span">Gavriluk</span></a></li>
            <ul class="flex-container">
                <li class="navigation__bar--list"><a class="navigation__bar--link" href="">Galery</a></li>
                <li class="navigation__bar--list"><a class="navigation__bar--link" href="">History</a></li>
                <li class="navigation__bar--list"><a class="navigation__bar--link" href="">Project</a></li>
                <!-- <li id="menu-line">----</li> -->
            </ul>
            <button class="button__nav" type="button"><svg class="button__svg--login">
                    <use class="" href="./images/sprite.svg#icon-key"></use>
                </svg></button>
            <button class="button__nav" type="button" id="language-button"><svg class="button__svg--lang">
                    <use class="" href="./images/sprite.svg#icon-global"></use>
                </svg></button>
        </div>
        <div class="overlay-language visually-hidden" id="overlay-lang-container">
            <p class="lang__module visually-hidden">Мова</p>
            <p class="lang__module ">Language</p>
            <div class="land__module--block">
                <a class="lang__module--href" href="">UK</a>
                <a class="lang__module--href" href="">EN</a>
            </div>
        </div>
    </header>


   