<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../sass/main.scss">
    <title>Weather</title>
</head>
<body class="background__body ">
    <header class="container wrapper">
        <div class="header__container">
            <a href="../index.html" class="arrow__index"><svg class="arrow__index--svg">
                <use class="" href="../images/sprite.svg#icon-reply-all"></use>
            </svg></a>
            <a href="" class="onedrive__back--svg"><svg class="onedrive__svg">
                    <use class="" href="../images/sprite.svg#icon-onedrive"></use>
                </svg></a>
            <a href="" class="arrow__index"><svg class="air__svg">
                    <use class="" href="../images/sprite.svg#icon-air"></use>
                </svg></a>
        </div>
        <div class="search-country">
            <button type="button" class="button-search">
                <svg class="location__svg">
                        <use class="" href="../images/sprite.svg#icon-location-pin"></use>
                    </svg>
            </button>
        </div>
    </header>
</body>
</html>