<div class="module__weather-week container">
    <h1 class="title__favorite-list">Favorites</h1>
    <ul>
        <li class="favorites__list">
            <p class="favorites__list-item">Brovary</p>
            <svg class="favorites__icon-list">
        <use class="" href="./images/sprite.svg#star-empty">
        </use>
    </svg>
</li>
        <li class="favorites__list">
            <p class="favorites__list-item">Chernigiv</p>
            <svg class="favorites__icon-list">
                <use class="" href="./images/sprite.svg#star-empty">
                </use>
            </svg>
        </li>
                <li class="favorites__list">
                    <p class="favorites__list-item">Lviv</p>
                    <svg class="favorites__icon-list">
                        <use class="" href="./images/sprite.svg#star-empty">
                        </use>
                    </svg>
                </li>
</ul>
    <h2 class="title__week">Weather for the week</h1>
    <div class="weather-week">
        <ul class="weather__week-list">
            <li class="weather__week-item"></li>
            <li class="weather__week-item"></li>
            <li class="weather__week-item"></li>
            <li class="weather__week-item"></li>
            <li class="weather__week-item"></li>
            <li class="weather__week-item"></li>
            <li class="weather__week-item"></li>
        </ul>
    </div>
    <div class="weather__deployed">
        <div class="wether-first"></div>
        <div></div>
        <div></div>
    </div>
</div>