<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../sass/main.scss">
    <title>Weather</title>
</head>
<body class="background__body ">
    <header class="container wrapper">
        <div class="header__container">
            <a href="../index.html" class="arrow__index"><svg class="arrow__index--svg">
                <use class="" href="../images/sprite.svg#icon-reply-all"></use>
            </svg></a>
            <a href="" class="onedrive__back--svg"><svg class="onedrive__svg">
                    <use class="" href="../images/sprite.svg#icon-onedrive"></use>
                </svg></a>
            <a href="" class="arrow__index"><svg class="air__svg">
                    <use class="" href="../images/sprite.svg#icon-air"></use>
                </svg></a>
        </div>

        <form action="" class="form__input">
        <input type="text" class="search-country" placeholder="Enter city name"><svg class="location-svg">
                <use class="" href="../images/sprite.svg#icon-location-pin"></use>
            </svg>
            </form>

        <div class="container__wether--time">
        <div class="weather-country">
            <svg class="favorites__star">
                <use class="" href="../images/sprite.svg#star"></use>
            </svg>

        </div>
        <div class="time">

        </div>
        <div class="about__day">
                
        </div>
        </div>
        <div class="container__day">
        <div class="day">

        </div>
        <div class="day">

        </div>
        <div class="day">

        </div>
        <div class="day">
                
        </div>
        </div>
        <div class="other__info">

        </div>
    </header>
    <footer class="wrapper container">
        <div class="footer__container"></div>
    </footer>
</body>
</html>