


.background__body {
    width: 100%;
    height: 100%;
    background-image: url('/images/aldain-austria-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-width: 768px) {
        background-image: url('/images/aldain-austria-desktop.jpg');
        
    }

    @media screen and (min-width: 1024px) {
        background-image: url('/images/aldain-austria-desktop.jpg');
        
    }
}
.header__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 35px;
    border: solid 1px #ffffff;
    border-radius: 10px 10px 10px 10px;

        @media screen and (min-width: 768px) {
                width: 740px;
                height: 40px;
        
        }
        
        @media screen and (min-width: 1024px) {
                width: 1000px;
                height: 45px;
            border: none;
        }
}



.onedrive__svg {
    width: 25px;
    height: 25px;
    fill: rgb(176, 252, 253);
        @media screen and (min-width: 768px) {
            width: 30px;
            height: 30px;
            fill: rgb(140, 222, 224);
        }
                
        @media screen and (min-width: 1024px) {
            width: 60px;
            height: 60px;
                fill: rgb(140, 222, 224);
        }
}
.onedrive__back--svg{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50px;
}
.arrow__index{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border-radius: 50px;
            @media screen and (min-width: 768px) {
display: none;
            
            }
            
            @media screen and (min-width: 1024px) {
display: none;
            
            }

}

.arrow__index--svg {
    width: 15px;
    height: 15px;
    fill: dimgrey;
}
.air__svg {
    width: 20px;
    height: 20px;
    fill: dimgrey;
}
.arrow__index--svg:hover{
    fill: #0e5d92;
}
.air__svg:hover{
    fill: #0e5d92;
}
.search-country{
    margin-top: 50px;
}
.location__svg{
    width: 200px;
    height: 200px;
  fill: rgb(140, 222, 224);

animation-name: changeSize;
animation-duration: 2500ms;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-direction: alternate;
}
@keyframes changeSize {
    0% {
        fill: rgb(140, 222, 224);
    }

    // 50% {
    //     fill: dimgrey;;
    // }

    100% {
        fill: dimgrey;
    }
}
.button-search{
    width: 200px;
    height: 200px;
    background: transparent;
}


